ul {
  list-style: none;
}
ul,
li {
  /* reset the margin and padding */
  margin: 0;
  padding: 0;
}

.accordion {
  &__container {
  }

  &__title {
  }

  &__list {
    width: 100%;
  }

  &__list-item {
    background-color: $lightGray;
    padding: 25px 30px;
    border-radius: 10px;
    a {
      text-decoration: none;
    }
  }

  &__list-item-title {
    color: $btnDarkBgColor;
    font-size: rem($textSizeS);
    font-weight: 400;
  }

  &__list-item-content {
    color: $btnDarkBgColor;
    padding: 2.5rem 0;
  }
}
