.open-filters-button {
  height: auto;
  height: 45px;
  padding: 15px;
}

.catalog {
  &__container {
    display: flex;
    gap: 0 34px;
  }

  &__filters {
    flex: 0 1 340px;
  }

  &__items {
    flex: 1 1 auto;
  }
}

.catalog {
  &__card__container {
    height: 340px;
    padding: 25px;

    .learn-more {
      min-width: 150px;
      height: 45px;
      border-radius: 10px !important;
    }

    .circle {
      height: 45px !important;
      width: 45px !important;
      border-radius: 10px !important;
    }

    .button-absolute {
      bottom: 25px;
    }

    .learn-more .button-text {
      height: 100%;
      font-size: 12px;
      padding-left: 45px;

      @include any-hover() {
        padding-left: 0;
      }
    }
  }

  &__circle {
    width: 45px !important;
  }

  &__card__img {
    max-height: 58%;
    position: absolute;
    bottom: 0;
    right: 11px;
  }

  &__card__title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__card__info {
  }

  &__card__list {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__card__text {
    font-size: 14px;
    line-height: 13px;
    margin: 0;
  }

  &__card__point {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 30px;
  }
  &__card__icon {
    margin-top: -9px;
  }

  &__card__price {
    position: relative;
    margin-bottom: 23px;

    &-block {
      display: inline-block;
      position: relative;
    }

    &-icon {
      position: absolute;
      top: -12px;
      right: -18px;
    }

    &-detailed {
      position: absolute;
      top: -145px;
      left: 65px;
      z-index: 10;
      display: none;
      background: gray;
    }

    &-icon:hover + &-detailed {
      display: block;
    }

    &-icon {
      @include any-hover() {
        .list__card__price-icon &-detailed {
          opacity: 1;
        }
      }
    }
  }

  &__card__ruble {
    color: #9c9c9c;
  }
}

@include media($tablet) {
  .list {
    &__tiles {
      margin-bottom: 30px;
    }
    &__tile {
      font-size: rem(18);
    }
    &__card__title {
      font-size: rem(25);
      margin-bottom: 40px;
    }
  }
}

@include media($mobile-tablet) {
  .list {
    &__tiles {
      margin-bottom: 30px;
    }
    &__tile {
      font-size: rem(18);
    }

    &__card {
      &__list {
        gap: 20px;
        margin-bottom: 20px;
      }
      &__img {
      }
      &__title {
        font-size: rem(25);
        margin-bottom: 30px;
      }
    }
  }
}

@include media($tablet) {
  .catalog {
    &__title {
      font-size: rem(30);
      margin-bottom: 50px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(50%) !important;
    }
    &__card__container {
      padding: 30px;
    }
  }
}

@include media($mobile-tablet) {
  .catalog {
    &__container {
      display: block;
    }

    &__title {
      font-size: rem(25);
      margin-bottom: 40px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(50%) !important;
    }
    &__card__container {
      padding: 25px;
    }

    &__card__title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

@include media($mobile) {
  .button-absolute {
    left: 25px !important;
    bottom: 15px !important;
  }

  .catalog {
    &__title {
      font-size: rem(15);
      margin-bottom: 15px;
    }
    &__card__container {
      padding: 15px;
      height: 260px;
    }
    &__card__title {
      font-size: 18px;
      margin-bottom: 15px;
    }
    &__card__list {
      gap: 12px;
    }
    &__card__text {
      font-size: 10px;
    }
    &__card__img {
      max-width: 50%;
    }
  }
}

@include media(400) {
  .button-absolute {
    left: 20px !important;
    bottom: 20px !important;
  }

  .catalog {
    &__title {
      font-size: rem(15);
      margin-bottom: 15px;
    }
    &__card__container {
      padding: 15px;
      height: 260px;

      .learn-more {
        width: 130px;
        min-width: 130px;
      }

      .button-text {
      }
    }
    &__card__title {
      font-size: 16px;
      margin-bottom: 12px;
    }
    &__card__list {
      gap: 10px;
    }
    &__card__text {
      font-size: 10px;
    }
    &__card__img {
      max-width: 50%;
    }
  }
}
