// .popup {
//   z-index: 1050;
//   text-align: center;

//   &__frame {
//     border-radius: 5px;
//     width: 700px;
//   }
// }

.callback-popup {
  &__frame {
  }

  &__form {
    background-color: $lightGray;
    border-radius: 10px;
    padding: 54px 110px 34px 110px;

    .uk-modal-header,
    .uk-modal-footer {
      padding: 0;
      border: none;
      background-color: $lightGray !important;
    }
  }

  &__button {
    background-color: $orange;
  }

  &__title {
    font-weight: 500;
    font-size: rem($textSizeS);
    line-height: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 23px;
  }

  &__subtitle {
    font-size: rem(20);
    text-align: center;
    margin-bottom: 23px !important;
    margin: 0;
  }

  &__content {
    border-radius: 10px;
    padding: 0;
  }

  &__phone-input {
  }
}

.popups__list {
  display: flex;
  gap: 33px;
  border-radius: 10px;
}

.popups__element {
  height: 100%;
  flex: 0 1 33%;
  padding: 22px;
  border-radius: 10px;
}

.popup__button {
  background-color: $orange;
}

@include media($tablet) {
  .popups__list {
    flex-direction: column;
    gap: 20px;
  }

  .popups__element {
    height: 100%;
    flex: 0 1 100%;
    padding: 22px;
    border-radius: 10px;
  }
  .callback-popup {
    &__form {
      padding: 27px 55px 17px 55px;
    }
  }
}

@include media($mobile) {
  .callback-popup {
    &__form {
      padding: 15px 30px 15px 30px;
    }
  }
}
