.infoblock {
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    width: 100%;
    padding: 168px 0px 180px 0px;
  }

  &__content {
  }

  &__title {
    font-size: rem($textSizeL);
    font-weight: 500;
    line-height: 47px;
    margin-bottom: 69px;
    max-width: 710px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__text {
    color: $textColorLight;
    font-size: rem($textSizeS);
    line-height: 36px;
    margin-bottom: 100px;
    max-width: 790px;
  }

  &__buttons {
    display: flex;
    gap: 38px;
    font-size: rem(24);
  }

  &__button {
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: $textColorBlack;
    display: flex;
    justify-content: center;
    min-width: 356px;
    padding: 28px 40px;
    font-size: rem(24);
    transition: background-color 0.3s ease;

    @include any-hover() {
      background-color: $lightGray;
    }
  }

  &__button--accent {
    background-color: $orange;

    @include any-hover() {
      background-color: $orangeHover;
    }
  }

  &__accent {
    color: $orange;
    font-weight: 600;
  }
}

@include media($laptop) {
  .infoblock {
    &__container {
      padding: 168px 20px 180px 20px;
    }
  }
}

@include media($tablet) {
  .infoblock {
    &__content {
      width: 75%;
    }

    &__title {
      max-width: 100%;
      margin-bottom: 55px;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 80px;
    }

    &__button {
      padding: 20px 35px;
      font-size: rem(24);
    }

    &__button--accent {
      background-color: $orange;
    }

    &__accent {
      color: $orange;
      font-weight: 600;
    }
  }
}

@include media($mobile) {
  .infoblock {
    &__container {
      padding: 84px 10px 90px 10px;
    }

    &__content {
      width: 100%;
      //   padding: 20px;
      //   background-color: rgba(123, 121, 121, 0.6);
      //   -webkit-backdrop-filter: blur(3px);
      //   backdrop-filter: blur(3px);
      //   border-radius: 5px;
    }

    &__title {
      font-size: rem(34);
      line-height: 40px;
    }

    &__text {
      font-size: rem(28);
      line-height: 34px;
    }

    &__buttons {
      flex-direction: column;
      font-size: rem(20);
      gap: 15px;
    }

    &__button {
      padding: 10px 0px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    &__button--accent {
      background-color: $orange;
    }

    &__accent {
      color: $orange;
      font-weight: 600;
    }
  }
}
