.services {
  &__container {
    position: relative;
  }

  &__cards {
  }

  &__card {
    width: 35%;
  }

  &__card__container {
    padding: 0;
    background-color: $lightGray;
    border-radius: 15px;
    height: 500px;
  }

  &__card__icon {
    margin-bottom: 10px;
    padding: 30px;
  }

  &__card__title {
    margin-bottom: 20px !important;
    padding: 0 30px;
  }

  &__card__text {
    max-width: 355px;
    padding: 0 30px;
  }

  &__card__img {
    // position: absolute;
    // bottom: 0;
    // left: 11px;
  }

  &__card--button {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
}

.services__cards.block__cards .services__card:nth-child(3n + 2) {
  width: 30%;
}

.services__cards.block__cards .services__card:nth-child(2) {
  height: 584px;
}

@include media($tablet) {
  .services {
    &__card {
      width: 50%;
    }
  }

  .services__cards.block__cards .services__card:nth-child(3n + 2) {
    width: 50%;
  }

  .services__cards.block__cards .services__card:nth-child(2) {
    height: 500px;
  }
}

@include media($mobile-tablet) {
  .services {
    &__card {
      width: 100%;
    }
  }

  .services__cards.block__cards .services__card:nth-child(3n + 2) {
    width: 100%;
  }

  .services__cards.block__cards .services__card:nth-child(2) {
    height: 500px;
  }
}

@include media($mobile) {
  .services {
    &__card__text {
      max-width: 70%;
    }
  }

  .services__cards.block__cards .services__card:nth-child(2) {
    height: 500px;
  }
}
