:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Manrope', sans-serif;
  --third-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: rem(16);
}

body {
  background-color: $white;
  overflow-y: hidden;
  font-family: var(--font-family);
  line-height: 1.3;
  font-size: rem(16);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $textColorBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textColorLight;
  font-weight: bold;
  font-family: 'Roboto';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a {
  color: $linkColor;
  transition: 0.3s;
  text-decoration: underline;

  @include any-hover {
    color: $linkColor;
  }
}

a[href*='tel:'] {
  white-space: nowrap;
}

section {
  margin-top: 100px;
  position: relative;
  padding: 0 15px;
}

input {
  &:focus {
    border-color: $btnHoverColor;
  }

  &:focus-visible {
    outline: none;
    text-indent: 5px;
  }

  &:checked {
    background-color: $orange;
  }
}

select {
  &:focus {
    border-color: $btnHoverColor;
  }
}

textarea {
  &:focus {
    border-color: $btnHoverColor;
  }

  &:focus-visible {
    outline: none;
    text-indent: 5px;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  width: 100%;
  // padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  position: relative;

  &_vertical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.section-title {
  text-align: center;
}

.text {
  color: $textColorBlack;
  font-size: 1.5rem;
  font-weight: 400;

  &_huge {
    color: $textColorGray;
    font-size: 2.5rem;
  }

  &_large {
    color: $textColorBlack;
    font-size: 1.75rem;
  }

  &_small {
    color: $textColorBlack;
    font-size: 1.25rem;
  }

  &_accent {
    color: $orange;
  }

  &_bold {
    font-weight: 700;
  }

  &_light_bold {
    font-weight: 500;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  &.learn-more {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    display: flex;
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: $orange;
    width: 214px;
    height: 60px;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      border-radius: 10px;
      position: relative;
      display: block;
      margin: 0;
      width: 60px;
      height: 60px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          //   left: 1.5rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: '';
            top: -0.1875rem;
            right: 0.469rem;
            width: 7px;
            height: 7px;
            border-top: 0.1125rem solid $orange;
            border-right: 0.1125rem solid $orange;
            border-top-right-radius: 1.5px;
            transform: rotate(45deg);
            opacity: 1;
            @include transition(opacity, 0.3s);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 45px;
      color: $btnDarkBgColor;
      line-height: 1.6;
      text-align: right;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 45px;
      white-space: nowrap;
    }
  }

  & {
    @include any-hover() {
      .learn-more {
        justify-content: center;
      }

      .circle {
        width: 100% !important;

        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);

            &::before {
              opacity: 0;
            }
          }
        }
      }

      .button-text {
        color: $orange;
        margin: 0 0 0 1.85rem;
      }
    }
  }
}

.button-absolute {
  z-index: 100;
  position: absolute;
  left: 40px;
  bottom: 30px;
}

.block {
  &__container {
  }

  &__title__page {
    margin-bottom: 50px;
  }

  &__title {
    color: $textColorGray;
    text-align: center;
    font-size: rem($textSizeM);
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;

    &-right {
      text-align: left !important;
    }
  }
  &__cards {
    flex-wrap: wrap;
    display: flex;
    margin: 0 -11px;
    gap: 22px 0;
    align-items: end;
  }
  &__card {
    padding: 0 11px;
    overflow: hidden;
    position: relative;
    width: calc(33.333%);
  }
  &__card__container {
    height: 100%;
    border-radius: 15px;
    padding: 30px;
    background-color: $lightGray;
  }
  &__card__container--last {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    padding: 20px;

    & {
      @include any-hover() {
        padding: 0;
      }
    }
  }

  &__card__title {
    font-size: rem($textSizeS);
    line-height: 104%;
    margin-bottom: 60px;
  }

  &__card__title-accent {
    color: $textColorGray;
  }

  &__card__more--last {
    background-color: $white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  &__card__text--last {
    position: absolute;
    font-family: var(--second-family);
    font-size: rem($textSizeS);
    line-height: 78%;
    color: #322f2f;
    max-width: 200px;
    text-align: center;
  }
  &_card__img--last {
  }
}

@include media($tablet) {
  .block {
    &__title {
      font-size: rem(30);
      margin-bottom: 50px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(50%);
    }
    &__card__container {
      padding: 30px;
    }
  }
}

@include media($mobile-tablet) {
  .block {
    &__title {
      font-size: rem(25);
      margin-bottom: 40px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(100%);
    }
    &__card__container {
      padding: 25px;
    }
  }
}

.uk-accordion-title::before {
  width: 1.5em;
  height: 1.5em;
}

.uk-input:focus {
  border-color: $orange;
}

.popup {
  z-index: 1050;
  text-align: center;

  &__frame {
    border-radius: 5px;
    width: 700px;
  }
}

@include media($tablet) {
  html {
    font-size: rem(11);
  }
}

@include media($mobile) {
  html {
    font-size: rem(10);
  }
}

.uk-navbar-container {
  background-color: transparent !important;
}

.uk-navbar-nav > li > a {
  font-size: rem(18);
  color: $textColorBlack;
  text-transform: none;
}

.uk-navbar-nav > li > a {
  min-height: 0;
}

.uk-navbar {
  padding: 18px 0;
}

.img__right {
  position: absolute;
  bottom: 0;
  right: 11px;
  padding-left: 22px;
}

.img__left {
  position: absolute;
  bottom: 0;
  left: 11px;
  padding-right: 22px;
}

.card__container--long {
  height: 584px !important;

  @include media($tablet) {
    height: 500px !important;
  }
}

.w35 {
  width: 35%;

  @include media($tablet) {
    width: 50%;
  }

  @include media($mobile) {
    width: 100%;
  }
}

.w30 {
  width: 30%;

  @include media($tablet) {
    width: 50%;
  }

  @include media($mobile) {
    width: 100%;
  }
}
