$laptop: 1440;
$tablet: 1200;
$mobile-tablet: 768;
$mobile: 640;

//-----------------------------------------
$baseColor: #ff8500;
$bodyColor: #fff;
$frameColor: #ffffffb8;
$cardColor: #f7f6f9;
$overlayColor: #000000aa;
//-----------------------------------------
$textColor: #000000;
$textColorLight: #ffffff;
$textColorDark: #858688;
$textColorGray: #a1a1a1;
$textColorAccent: #ff8500;
//-----------------------------------------
$linkColor: #237fcf;
//-----------------------------------------
$btnColor: #f5f5f5;
$btnBgColor: #237fcf;
$btnHoverColor: #282828;
$btnHoverBgColor: #dcdcdc;
//-----------------------------------------
$btnDarkColor: #ffffff;
$btnDarkBgColor: #000000;
$btnHoverDarkColor: #000000;
$btnHoverDarkBgColor: #dcdcdc;
//-----------------------------------------
$borderColor: #113d63;
$borderColorLight: #ffffff;
//-----------------------------------------
$sliderBtnColor: #113d63;
$lightboxBtnColor: #ffffff;
//-----------------------------------------
