$laptop: 1440;
$tablet: 1200;
$mobile-tablet: 768;
$mobile: 640;

//-----------------------------------------
$orange: #ff8500;
$white: #fff;
$lightGray: #f7f6f9;
$overlayColor: #000000aa;
//-----------------------------------------
$textColorBlack: #000000;
$textColorLight: #ffffff;
$textColorGray: #858688;
$textColorLightGray: #a1a1a1;
//-----------------------------------------
$linkColor: #237fcf;
//-----------------------------------------
$btnColor: #f5f5f5;
$btnBgColor: #237fcf;
$btnHoverColor: #282828;
$btnHoverBgColor: #dcdcdc;
//-----------------------------------------
$btnDarkColor: #ffffff;
$btnDarkBgColor: #000000;
$btnHoverDarkColor: #000000;
$btnHoverDarkBgColor: #dcdcdc;
//-----------------------------------------
$borderColor: #113d63;
$borderColorLight: #ffffff;
//-----------------------------------------
$sliderBtnColor: #113d63;
$lightboxBtnColor: #ffffff;
//-----------------------------------------
$textSizeL: 40;
$textSizeM: 36;
$textSizeS: 32;
