@use 'sass:math';

/** Подключение шрифтов локально из папки "./src/fonts" */
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/** Подключение sass function и mixins и extends стилей */
@import 'config/functions';
@import 'config/mixins';
@import 'config/keyframes';

/** Общие параметры, шаблоны(заготовки) и вспомогательные классы */
@import 'config/base';

/** БЕМ блоки используемые во всё проекте */
@import 'config/common';

/** Подключение стилей отдельных блоков и секций */
@import 'components/ExHeader';
@import 'components/ExBurger';
@import 'components/ExBurger-menu';
@import 'components/ExFooter';
@import 'components/ExCentered-gallery';
@import 'components/ExGallery';
@import 'components/Accordion';
@import 'components/ExCookie';
@import 'components/ExPopups';
@import 'components/Infoblock';
@import 'components/Catalog';
@import 'components/Services';
@import 'components/Marquee';
@import 'components/Examples';
@import 'components/Contacts';

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  &.learn-more {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    display: flex;
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: $baseColor;
    width: 214px;
    height: 60px;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      border-radius: 10px;
      position: relative;
      display: block;
      margin: 0;
      width: 60px;
      height: 60px;
      background: $bodyColor;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $bodyColor;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 1.5rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.15rem solid $baseColor;
            border-right: 0.15rem solid $baseColor;
            border-top-right-radius: 1.5px;
            transform: rotate(45deg);
            opacity: 1;
            @include transition(opacity, 0.3s);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 45px;
      color: $btnDarkBgColor;
      line-height: 1.6;
      text-align: right;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 45px;
    }
  }

  &:hover {
    .learn-more {
      justify-content: center;
    }

    .circle {
      width: 100%;

      .icon {
        &.arrow {
          background: $bodyColor;
          transform: translate(1rem, 0);

          &::before {
            opacity: 0;
          }
        }
      }
    }

    .button-text {
      color: $baseColor;
      margin: 0 0 0 1.85rem;
    }
  }
}

.block {
  &__container {
  }
  &__title {
    color: $textColorDark;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;

    &-right {
      text-align: left !important;
    }
  }
  &__cards {
    flex-wrap: wrap;
    display: flex;
    margin: 0 -11px;
    gap: 22px 0;
  }
  &__card {
    padding: 0 11px;
    overflow: hidden;
    position: relative;
    width: calc(33.333%);
  }
  &__card__container {
    height: 100%;
    border-radius: 15px;
    padding: 30px;
    background-color: $cardColor;
  }
  &__card__container--last {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    padding: 20px;

    &:hover {
      padding: 0;
    }
  }

  &__card__title {
    font-size: 32px;
    line-height: 104%;
    margin-bottom: 60px;
  }

  &__card__title-accent {
    color: $textColorGray;
  }

  &__card__more--last {
    background-color: $bodyColor;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  &__card__text--last {
    position: absolute;
    font-family: var(--second-family);
    font-size: 32px;
    line-height: 78%;
    color: #322f2f;
    max-width: 200px;
    text-align: center;
  }
  &_card__img--last {
  }
}

@include media($tablet) {
  .block {
    &__title {
      font-size: 30px;
      margin-bottom: 50px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(50%);
    }
    &__card__container {
      padding: 30px;
    }
  }
}

@include media($mobile-tablet) {
  .block {
    &__title {
      font-size: 25px;
      margin-bottom: 40px;
    }
    &__cards {
      margin: 0 -11px;
      display: flex;
    }
    &__card {
      padding: 0 11px;
      width: calc(100%);
    }
    &__card__container {
      padding: 25px;
    }
  }
}

.uk-accordion-title::before {
  width: 1.5em;
  height: 1.5em;
}
